name: R

on:
  push:
    paths:
      - "R/remotebmi/**"
      - .github/workflows/r.yml
  pull_request_target:
    paths:
      - "R/remotebmi/**"
      - .github/workflows/r.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  r:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4      
        with:
          sparse-checkout: |
            R/remotebmi
          path: root
      - name: Move R package to cwd
        run: shopt -s dotglob && mv root/R/remotebmi/* .
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
      - uses: r-lib/actions/check-r-package@v2
